/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

body{
  margin: 0;
  /* color: whitesmoke; */
  /* font-family: "Montserrat", sans-serif; */
  font-size: 12px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.logo{
  font-family: "Playfair Display", serif;

}
a{
  text-decoration: none;
}
/* .carousel .list .item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(116 116 116 / 20%); 
  z-index: 1; 
  transition: background 0.3s ease-in-out; 
}
.carousel .list .item:hover::after {
  background: rgb(116 116 116 / 20%) 
} */
header{
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}
header a{
  color: #eee;
  margin-right: 40px;
  font-size: 15px;
}
/* carousel */
.carousel{
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.carousel .list .item {
  position: absolute;
  inset: 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit:unset;
}
.des{
  font-size: 21px !important;
  font-weight: 300;
  text-align: justify;
}
/* .des::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("https://media.istockphoto.com/id/1221845543/vector/distressed-black-texture.jpg?s=612x612&w=0&k=20&c=LVfg5dSA5OVrqkCDkOoayTj9XVN-soNPIzeSBIqOMZc=");
  backdrop-filter: blur(5px);
  z-index: -1;
  pointer-events: none;
} */

.topic{
  font-size: 52px !important;
}

.carousel .list .item::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.18;
  background-image: url("https://media.istockphoto.com/id/1221845543/vector/distressed-black-texture.jpg?s=612x612&w=0&k=20&c=LVfg5dSA5OVrqkCDkOoayTj9XVN-soNPIzeSBIqOMZc=");
}
.zarah::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  opacity: 0.1;
  background-image: url("https://media.istockphoto.com/id/1221845543/vector/distressed-black-texture.jpg?s=612x612&w=0&k=20&c=LVfg5dSA5OVrqkCDkOoayTj9XVN-soNPIzeSBIqOMZc=");
} 

.zarah {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.thumbnail  .item {
  position: absolute;
  inset: 0;
}

/* .thumbnail .item::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #b5b5b54d !important;
  border-radius: 20px !important;
} */

.carousel .list .item .content{
  position: absolute;
  top: 5%;

text-align: center;
  left: 50%;
  transform: translateX(-50%);

  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
  font-size: 11px !important;
}
.carousel .list .item .title,
.carousel .list .item .topic{
  font-size: 22px;
  font-weight: 500;
    font-family: "Playfair Display", serif;
  line-height: 1.3em;
}
.main-text{
  color: #004aad;
  font-family: "Playfair Display", serif;
  font-size: 93px !important;
  font-weight: 600 !important;
  margin-top: -20px;
  /* background: url('public/image/zarah5.jpeg'); */
}

.carousel .list .item .topic{
  color: #004aad;
  font-family: "Playfair Display", serif;
  font-size: 100px !important;
  font-weight: 600 !important;
  margin-bottom: 2px;
}
.carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button{
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 60%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 20px;
}
.thumbnail .item .content{
  color:#f1a53a;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.main-bg {
  position: relative;
  z-index: 9 !important;
}
.main-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-size: cover;
  background-image: url("https://media.istockphoto.com/id/1221845543/vector/distressed-black-texture.jpg?s=612x612&w=0&k=20&c=LVfg5dSA5OVrqkCDkOoayTj9XVN-soNPIzeSBIqOMZc=");
 /* Adjust the opacity to control the intensity of the grain effect */
  pointer-events: none; /* Ensures the pseudo-element doesn't interfere with mouse events */
/* Ensure the grain effect stays behind other content */
}
.thumbnail .item .content .title{
  font-weight: 600;
  color:#fff;
  font-family: "Playfair Display", serif;
}
.thumbnail .item .content .description{
  font-weight: 500;
  font-size: 14px;
  color:#ffffffe0;
  font-family: "Playfair Display", serif;
}
/* arrows */
.arrows{
  position: absolute;
  top: 88%;
  right: 62%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  transition: .5s;
}
.arrows button:hover{
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;

  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
      
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

.about-header{
  color: #004aad;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 73px;
}
.about-des{
  color: #004aad;
  /* font-family: "Playfair Display", serif; */
  font-weight: 700;
  /* text-transform: uppercase; */
  font-size: 20px;
  text-align: justify;
}


/* running time */

.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #004aad;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 220px;

  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  /* animation: showImage .5s linear 1 forwards; */
}
.carousel.prev .list .item:nth-child(2){
  z-index: 0 !important;
}

@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 1;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .content .title{
      font-size: 30px;
  }
}






 * {
	 box-sizing: border-box;
}
 body {
	 margin: 0;
	 padding: 0;
	 background-color: #c8e7d8;
	 color: #4e5e72;
	 text-align: center;
   font-family: "Playfair Display", serif;
}
 h1, p {
	 margin: 0;
	 padding: 0;
}
 h1 {
	 font-size: 2rem;
   font-family: "Playfair Display", serif;
}
 small {
	 display: block;
	 padding: 1rem 0;
	 font-size: 0.8rem;
	 transition: opacity 0.33s;
}
 textarea, input, button {
	 line-height: 1.5rem;
	 border: 0;
	 outline: none;
   font-family: "Playfair Display", serif !important;

	 appearance: none;
}
 textarea, input {
	 color: #4e5e72;
	 background-color: transparent;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}
 textarea {
	 width: 100%;
	 height: 8rem;
	 resize: none;
}
 input {
	 width: 50%;
	 margin-bottom: 1rem;
}
 input[type=text]:invalid, input [type=email]:invalid {
	 box-shadow: none;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}
 button {
	 padding: 0.2rem 1rem;

	 border-radius: 0.25rem;
	 background-color: rgba(78, 94, 114, 0.9);
	 color: white;
	 font-size: 14px !important;
	 transition: background-color 0.2s;
}
 button:hover, button :focus {
	 outline: none;
	 background-color: rgba(78, 94, 114, 1);
}
 input[type=text]:focus, input[type=email]:focus, textarea:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
	 outline: none;
}
 .wrapper {
	 width: 35rem;
	 background-color: white;
}
 .letter {
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: 0;
	 width: 30rem;
	 margin: auto;
	 perspective: 60rem;
}
 .side {
	 height: 12rem;
	 background-color: #fcfcf8;
	 outline: 1px solid transparent;
}
 .side:nth-of-type(1) {
	 padding: 2rem 2rem 0;
	 border-radius: 1rem 1rem 0 0;
	 box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
}
 .side.side:nth-of-type(2) {
	 padding: 2rem;
	 border-radius: 0 0 1rem 1rem;
	 box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
	 text-align: right;
}
 .envelope {
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: 0;
	 margin: auto;
}
 .envelope.front {
	 width: 10rem;
	 height: 6rem;
	 border-radius: 0 0 1rem 1rem;
	 overflow: hidden;
	 z-index: 9999;
	 opacity: 0;
}
 .envelope.front::before, .envelope.front::after {
	 position: absolute;
	 display: block;
	 width: 12rem;
	 height: 6rem;
	 background-color: #e9dc9d;
	 transform: rotate(30deg);
	 transform-origin: 0 0;
	 box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	 content: '';
}
 .envelope.front::after {
	 right: 0;
	 transform: rotate(-30deg);
	 transform-origin: 100% 0;
}
 .envelope.back {
	 top: -4rem;
	 width: 10rem;
	 height: 10rem;
	 overflow: hidden;
	 z-index: -9998;
	 opacity: 0;
	 transform: translateY(-6rem);
}
 .envelope.back::before {
	 display: block;
	 width: 10rem;
	 height: 10rem;
	 background-color: #e9dc9d;
	 border-radius: 1rem;
	 content: '';
	 transform: scaleY(0.6) rotate(45deg);
}
 .result-message {
	 opacity: 0;
   font-size: 22px;
   text-transform: uppercase;
   color: white;
   font-family: "Playfair Display", serif;
	 transition: all 0.3s 2s;
	 transform: translateY(9rem);
	 z-index: 2;
}
 .sent .letter {
	 animation: scaleLetter 1s forwards ease-in;
	/*, pushLetter 0.5s 1.33s forwards ease-out*/
}
 .sent .side:nth-of-type(1) {
	 transform-origin: 0 100%;
	 animation: closeLetter 0.66s forwards ease-in;
}
 .sent .side:nth-of-type(1) h1, .sent .side:nth-of-type(1) textarea {
	 animation: fadeOutText 0.66s forwards linear;
}
 .sent button {
	 background-color: rgba(78, 94, 114, 0.2);
}
 .sent .envelope {
	 animation: fadeInEnvelope 0.5s 1.33s forwards ease-out;
}
 .sent .result-message {
	 opacity: 1;
	 transform: translateY(12rem);
}
 .sent small {
	 opacity: 0;
}
 .centered {
	 position: absolute;
	 left: 0;
	 right: 0;
	 margin: 1rem auto;
}
 @keyframes closeLetter {
	 50% {
		 transform: rotateX(-90deg);
	}
	 100% {
		 transform: rotateX(-180deg);
	}
}
 @keyframes fadeOutText {
	 49% {
		 opacity: 1;
	}
	 50% {
		 opacity: 0;
	}
	 100% {
		 opacity: 0;
	}
}
 @keyframes fadeInEnvelope {
	/*90% {
		opacity: 1;
		 transform: translateY(4rem);
	}
	*/
	 0% {
		 opacity: 0;
		 transform: translateY(8rem);
	}
	 100% {
		 opacity: 1;
		 transform: translateY(4.5rem);
	}
}
 @keyframes scaleLetter {
	 66% {
		 transform: translateY(-8rem) scale(0.5, 0.5);
	}
	 75% {
		 transform: translateY(-8rem) scale(0.5, 0.5);
	}
	 90% {
		 transform: translateY(-8rem) scale(0.3, 0.5);
	}
	 97% {
		 transform: translateY(-8rem) scale(0.33, 0.5);
	}
	 100% {
		 transform: translateY(-8rem) scale(0.3, 0.5);
	}
}
/* @keyframes pushLetter {
	 0% {
		transform: translateY(-8rem) scale(0.3, 0.5);
	}
	 50% {
		transform: translateY(-8rem) scale(0.3, 0.5);
	}
	 90% {
		transform: translateY(-8.5rem) scale(0.3, 0.5);
	}
	 100% {
		transform: translateY(-8rem) scale(0.3, 0.5);
	}
}
 */
 
 .contact-con{
  background: url(public/image/orla6.jpeg);
  border-bottom: 0px;
height: 65vh !important;
 }
 

 @keyframes load {
  0%{
      opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
      filter: blur(5px);
      letter-spacing: 3px;
      }
  100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
      }
}

.animate {
display:flex;
justify-content: center;
align-items: center;
height:100%;
margin: auto;
/* 	width: 350px; */
/* 	font-size:26px; */
font-family: "Playfair Display", serif;
animation: load 1.2s infinite 0s ease-in-out;
animation-direction: alternate;
text-shadow: 0 0 1px white;
}
